<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </link>
  <title>Movies List</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>

<body class="flex justify-center bg-gray-200 font-sans">

  <div class="w-1/2">
    <div>
      <h1 class="text-center font-bold text-4xl my-4 underline font-mono ">
        <a href="/" class="no-underline text-blue">Unofficial IMDB Movie List</a>
      </h1>
      <form method="get" class=" w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="search">
          Movie Search
        </label>
        <div class="flex mb-8">
          <input
            class="shadow appearance-none border w-full rounded py-2 px-3 text-gray-700 mb-3 mr-3 leading-tight focus:outline-none focus:shadow-outline"
            id="search" name="search" type="text"
            placeholder="{{ request.args.get('search') if not None else 'Movie Title'}}">
          <button
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold mb-3 py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">Search</button>
        </div>
      </form>

      <!-- Previous / Next Buttons -->
      <div class="flex w-full justify-between mb-4">
        <div class="inline-flex">
          <a href="{{ links['prev'] }}">
            <button class="bg-gray-400 hover:bg-gray-500 text-gray-darkest font-bold py-2 px-4 rounded-l">Prev</button>
          </a>
          <a href="{{ links['next'] }}">
            <button class="bg-gray-400 hover:bg-gray-500 text-gray-darkest font-bold py-2 px-4 rounded-r">Next</button>
          </a>
        </div>

        <!-- Movie Statistics -->
        <p class="self-center">{{ stats['total'] }} <i class="text-gray-600 roman">movies in the database</i></p>
        <!-- Only show pages indicator if there are results found -->
        {% if pages['max'] %}
        <p class="self-center">Page {{ pages['current'] }} of {{ pages['max'] }}</p>
        {% endif %}

        <!-- Only show results if the user has searched for a title -->
        {% if stats['results'] != -1 %}
        <p class="self-center">{{ stats['results'] }}
          <i class="text-gray-600 roman">{{ 'results' if stats['results'] > 1 else 'result' }} found</i>
        </p>
        {% endif %}
      </div>
    </div>
    <!-- TODO: Make mobile friendly -->
    <!-- Movie Card List  -->
    <div>
      {% for movie in movies %}
      <div class="w-full lg:flex mb-8 h-64 hover:shadow-xl">
        <div
          class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none border-gray-700 lg:rounded-l text-center overflow-hidden"
          style="background-image: url({{ movie['poster'] }})" title="{{ movie['title'] }} poster">
        </div>
        <div
          class="w-full border-r border-b border-l border-gray-light lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="text-black font-bold text-xl mb-2">
              <a class="no-underline text-black" href="{{ movie['url'] }}">
                {{ movie['title'] }}
              </a>
            </div>
            <p class="text-gray-700 text-base">{{movie['summary']}}</p>
          </div>
          <div class="flex justify-between">
            <div class="flex justify-center items-center">
              <span class="fas fa-star text-yellow-400 text-2xl mr-2"></span>
              <h2 class="font-normal">{{movie['rating']}}</h2>
            </div>
            <h2 class="font-normal">{{movie['year']}}</h2>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

<style>
  * {
    transition-duration: 0.5s;
  }
</style>

</html>
